name: Busted

on: [push, pull_request]

jobs:
  busted:
    strategy:
      fail-fast: false
      matrix:
        luaVersion: ["5.4", "5.3", "5.2", "5.1", "luajit", "luajit-openresty"]
        penlightVersion: ["1.9.1", "1.8.0", "1.6.0", "1.5.4"]

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup Lua
      uses: leafo/gh-actions-lua@v6
      with:
        luaVersion: ${{ matrix.luaVersion }}
    - name: Setup Lua Rocks
      uses: leafo/gh-actions-luarocks@v2
    - name: Setup dependencies
      run: |
        luarocks install penlight ${{ matrix.penlightVersion }}
        luarocks install busted
        luarocks install https://raw.githubusercontent.com/moteus/luacov-coveralls/master/rockspecs/luacov-coveralls-scm-0.rockspec
    - name: Run Busted Tests
      run: busted -c -v
    - name: Report Test Coverage
      if: success()
      continue-on-error: true
      run: luacov-coveralls -i cassowary -e .luarocks
      env:
        COVERALLS_REPO_TOKEN: ${{ github.token }}
